*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav #con_info{
    display: flex;
    padding: 0px 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(124,130,47,1) 0%, rgba(243,0,255,1) 92%, rgba(255,0,241,1) 100%);
}
html{
overflow-x: hidden;
}

#con_info div{
    padding-inline-start: 200px;
    font-size:20px;
    color:white
}
.div1 ion-icon{
    border-right: 2px solid white;
    padding:10px 10px
}
.div2{
    display: flex;
}
.div2 ion-icon{
    padding:10px 10px;
}
.div2 p{
    margin-top:10px;
}

.div3{
    padding:10px 10px;
}
.div3 button{
    padding:6px 10px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    border:2px solid white;
    background-color: transparent;
    color:white;
    font-weight: 700;
    transition: 0.6s;
}
.div3 button:hover{
    background-color: aliceblue;
    color:black
}
#nav_bar{
    display: flex;
}
.logo{
    display: flex;
    padding-inline-start: 100px;
}
.logo h1{
    margin-top:30px;
}
.link_con{
    margin-top: 30px;
    margin-left: 90vh;
}
.link_con a{
    padding-inline-start: 17px;
    font-size: 17px;
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    transition:0.7s
}
.link_con a:hover{
    color:rgb(196, 51, 219)

}
.logo img{
    height: 100px;
    width:100px;
}

.main_con01{
    margin-top:-10px;
    padding: 30px 30px;
    border-left: 6px solid pink;
    margin-left: 300px;
    margin-top:20vh;
    color:white
}
.img1{
    width: 100%;
    filter:brightness(50%);
    position: absolute; 
    z-index: -1;
    margin-top: -10px;
}
.main_con01 h3{
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.8ch;
    padding: 5px 5px;
}
.main_con01 h1{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    padding: 5px 5px;
    letter-spacing: 0.2ch;
}
.main_con01 p{
    font-size: 17px;
    padding: 10px 10px;
    text-transform: capitalize;
}
.main_con01 button{
    width: 15%;
    padding: 10px 0px;
    margin-left: 30px;
    margin-top: 20px;
    font-size:17px;
    text-transform: capitalize;
    transition: 0.7s;
    border:2px solid pink;
    border-radius: 10px;
    background-color:rgb(243, 120, 141);
    font-weight: 600;
}
.main_con01 button:hover{
    background-color: transparent;
    color:white
}
.info_con{
    background: rgb(219,230,68);
background: linear-gradient(90deg, rgba(219,230,68,1) 0%, rgba(116,171,66,1) 0%, rgba(167,27,173,1) 49%, rgba(206,42,216,1) 92%, rgba(198,119,193,1) 100%);
    display: flex;

}
.info_con .con{
    padding: 20px 20px;
    
}
.con ion-icon{
    font-size: 50px;
    color:white
}
.con h2{
    margin-top:-40px;
    margin-left:60px;
    color:white;
    letter-spacing:.1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.con p{
    padding:20px 20px;
    color:white
}
.about{
    display: flex;
    background-color: aliceblue;
    height: 660px;
}
.a_con{
    padding:10px 5vh;
    margin-top:130px
}
.a_con h1{
    text-transform: uppercase;
    padding:10px 10px ;
    border-bottom: 3px solid pink;
    color:rgb(255, 102, 102);
    font-weight: 900;
    letter-spacing: 0.2rem;
}
.a_con h3{
    padding:10px 10px;
    font-weight: 500;
}
.a_con p{
    padding:10px 10px;
    font-weight: 10;
}
.a_con button{
    padding:16px 30px;
    margin-top:30px;
    text-transform: uppercase;
    border:none;
    border-radius: 30px;
    background-color: palevioletred;
    font-weight: 600;
    font-size: 17px;
    color:white;
    transition: 0.5s;
}

.a_con button:hover{
    margin-left:30px;
}
.aobut_img img{
    height: 500px;
    width: 700px;
    margin-top:10px;
}
.services_con{
    display: flex;
    padding:100px 0px;
    margin-top:-50px
}
.s_img{
    overflow: hidden;
}
.s_img img{
    height: 200px;
    width: 340px;
    background-size: cover;
    /* padding-inline-start: 128px; */
    margin-left:128px;
    box-shadow: 1px 1px 10px grey;
    /* border-radius: 10px; */
    border: 1px solid black;
    border-radius: 10px;
    z-index: -100;
    transition: all ease 0.5s;
}
.s_img img:hover{
    scale: 1.2;
}
.h1s{
    display: flex;
}
.h1s h1{
    margin-left:31vh;
    margin-top:-20vh;
    position: relative;
    background-color: pink;
    border-bottom-left-radius: 10px;
    width:240px;
    height: 40px;
    padding:3px 0px;
    text-align: center;
    font-size:22px;
    text-transform: uppercase;
    border:2px solid black;
    font-weight: 900;
    color:black
}




 
.footer{
    background:#333;
    padding:4%
  }
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
    
  }
  
  .footer .box-container .box h3{
    font-size:30px;
    padding:.7rem 0;
    color:#fff;

  }
  
  .footer .box-container .box p{
    font-size: 20px;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 20px;
    padding:.7rem 0;
    color:#eee;
    transition: 0.5s;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .footer .box-container .box a:hover{
    color:yellow;
  }
  
  .footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  
  .footer .credit span{
    color:var(--orange);
  }
